.container {
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.fieldWrapper {
    position: relative;
}

.field {
    display: grid;
    user-select: none;
    transform-origin: top left;
}

.lose {
    text-align: center;
    font-size: 70px;
    font-weight: 700;
    color: #ff0000;
    cursor: pointer;
}

.win {
    text-align: center;
    font-size: 70px;
    font-weight: 700;
    color: #00ff00;
    cursor: pointer;
}
